$text_Color: #ccccff;
$ScenicSpot_Color: #fff;
$ScenicSpot_BoxShadow_Color: rgba(0, 0, 0, 0.2);
$ScenicSpot_field_color: #2a265f;
$ScenicSpot_field_font_color: #fff;
$btn_color: #008cba;
$btn_font_color: white;

.rwd_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ScenicSpot_text {
  text-align: center;
  color: $text_Color;
}

.ScenicSpot {
  background-color: $ScenicSpot_Color;
  border-radius: 10px;
  box-shadow: 0 10px 10px $ScenicSpot_BoxShadow_Color;
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 750px;
}

.ScenicSpot_field {
  background-color: $ScenicSpot_field_color;
  color: $ScenicSpot_field_font_color;
  padding: 30px;
}

.ScenicSpot_h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ScenicSpot_h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.ScenicSpot_info {
  position: relative;
  padding: 30px;
  width: 100%;
}

.btn {
  background-color: $btn_color;
  color: $btn_font_color;
  width: 150px;
  height: 50px;
}
