.city_text {
  text-align: center;
  color: #ccccff;
}
.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;
  margin-left: 400px;
}

.course_preview {
  background-color: #2a265f;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.course_h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course_h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.progress_container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.course_info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.btn {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
